<div class="modal-wrap">
    <div class="card">
        <div class="card-header">
            <h3 class="d-inline">Change Password</h3>
            <i class="fa fa-close float-right cursor-pointer" (click)="onCloseModal()"></i>
        </div>
        <div class="card-body">
            <div class="pswd">
                <label> Existing Password</label>
                <input type="text" class="form-control">
            </div>
            <div class="pswd">
                <label>  New Password</label>
                <input type="text" class="form-control">
            </div>
            <div class="pswd">
                <label>  Confirm New Password</label>
                <input type="password" class="form-control">
            </div>

            <button class="btn btn-success float-right mt-2" (click)="onDone()">Done</button>
        </div>
    </div>
</div>