@import '~src/app/_theme';
.card {
    border-radius: 12px;
    overflow: hidden;
    // background: #eee;
    .card-body {
        background: #f5f5f5;
        table {
            background: white;
            border-radius: 10px;
            th {
                border-top: none;
            }
        }
    }
    .add-btn {
        display: flex;
        padding: 0;
        border: none;
        border-radius: 50px;
        background: white;
        padding-right: 10px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $primary-color;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
        .add-icon {
            display: flex;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            background: $primary-color;
            justify-content: center;
            align-items: center;
            color: white;
            margin-right: 5px;
        }
        &:focus {
            outline: none;
        }
    }
    tr {
        cursor: pointer;
    }
}