<div class="container">
    <div class="head">
        <div class="searchbox">
            <input type="search" placeholder="Search" [(ngModel)]="projectSearch">
            <i class="fa fa-search"></i>
        </div>
    </div>
    <div class="table-body">
        <table class="table table-hover" data-toggle="table" data-search="true" data-filter-control="true"
            data-show-export="true" data-click-to-select="true">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>createdBy</th>
                    <th>modifiedBy</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of data" (click)="assignParent(project._id)">
                    <td>{{project.name}}</td>
                    <td>{{project.description}}</td>
                    <td>{{(project?.createdBy?.email) + '\n' +(project?.createdAt | date:'short')}}</td>
                    <td>{{(project?.modifiedBy?.email) + '\n' +(project?.modifiedAt | date:'short')}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="btn" *ngIf="!edit">
        <button class="float-right add-field-btn" (click)="assignParent(1)">
            <i class="fa fa-plus add-icon"></i>
        </button>
    </div> -->
</div>