@import '~src/app/_theme';
        .list-container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                background: white;
                padding: 20px 0px;
                border-radius: 10px;
                width: 100%;
                height: 90%;
                .list {
                    border-right: $border-gray;
                    min-width: min-content;
                    width: 60%;
                    height: 100%;
                    overflow: auto;
                    .list-items{
                        padding-left: 15px;
                        width: 100%;
                        // height: 34px;
                        .item {
                                cursor: pointer;
                                padding: 5px 0px;
                                // height: 35px;
                            &.active {
                                border-left: 1px solid $primary-color;
                                background: #eee;
                            }
                        }
                    }
                }
        .list-details {
            position: relative;  
            width: 100%;     
            height: 100%;
            overflow: overlay;
            .editable-input{
                display: inline-flex;
                width: 60%;
            }
           
            .pt-1{
                height: 61%;
                overflow-y: auto;
                overflow-x: hidden;
                .items-list{
                    padding: 5px 10px;
                    display: inline-block;
                    background: $primary-color;
                    border-radius: 40px;
                    color: white;
                    white-space: nowrap;
                    margin: 0.3rem;
                }
            }
        }
    }
        .btn{
            align-content: center;
            display: block;
            margin: auto;
            button{
                border: none;
                outline: none;
                border:2px solid $primary-color;
                color: black;
                border-radius: 4px;
            }
        }