<div class="tabs">
    <a [routerLink]="['/home/mastertables/master-list']" routerLinkActive="active">Master List</a>
    <a [routerLink]="['/home/mastertables/hierarchy-master']" routerLinkActive="active">Hierarchy Master</a>
</div>

<!-- <div class="tabs">
    <div class="subnav">
        <button class="subnavbtn"><a [routerLink]="['/home/mastertables/master-list']" routerLinkActive="active">Master
                List</a> <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <a [routerLink]="['/home/mastertables/master-list']">functional</a>
            <a [routerLink]="['/home/mastertables/master-list']">geographical</a>
        </div>
    </div>
    <div class="subnav">
        <button class="subnavbtn"><a [routerLink]="['/home/mastertables/hierarchy-master']"
                routerLinkActive="active">Hierarchy Master</a> <i class="fa fa-caret-down"></i></button>
        <div class="subnav-content">
            <a [routerLink]="['/home/mastertables/hierarchy-master']">functional</a>
            <a [routerLink]="['/home/mastertables/hierarchy-master']">geographical</a>
        </div>
    </div>
</div> -->