@import '~src/app/_theme.scss';
    .mastertables-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 91%;
        background: white;
        border-radius: 10px;
        overflow: hidden;
        // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07), 0 6px 6px rgba(0, 0, 0, 0.07);
        @media only screen and(max-width: 430px){
            height: 85%;
            overflow: auto;
        }

    .card-header {
        background: white;
        border: none;
        padding-bottom: 0px;
        border-bottom: 1px solid #e0e0e0;
        @media only screen and(max-width: 550px){
            height: 10%;
            overflow: auto;
        }

        
        a {
            display: inline-block;
            padding: 10px 20px;
            color: #333;
            text-decoration: none;
            &:hover {
                color: $secondary-color;
            }
            &.active {
                color: $secondary-color;
                border-bottom: 2px solid $secondary-color;
                font-weight: 600;
            }
        }
    }

    .card-body {
        height: 100%;
        width: 100%;
    }
}