<div class="user-details-wrapper">
    <div class="card">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-3 user-details pr-0 ">
                    <div class="header p-2">
                        <i class="fa fa-arrow-left cursor-pointer" (click)="goBack()"></i>
                        <h4 class="d-inline pl-2">Supervisor</h4>
                    </div>
                    <div class="details px-3 ">
                        <label>Name </label>
                        <input type="text" class="form-control">
                        <label>Username </label>
                        <input type="text" class="form-control">
                        <label>Email </label>
                        <input type="text" class="form-control">
                        <label>Mobile </label>
                        <input type="text" class="form-control">
                        <label>Status </label>
                        <input type="text" class="form-control">
                        <label>Creation Date </label>
                        <input type="text" class="form-control">
                        <label>Inactive Since</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-9 tabs"></div>
            </div>
        </div>
    </div>
</div>